*.pyc
__pycache__
/venv/
/bigFiles/
/backup/
/.idea/
plainold.mp4
try.mp4
flastest.py
Container/specialsauce2/
Container/fc925b23-30b8-4d77-9310-289b85ef8eb0/specialsauce/cstate.yaml
Container/fc925b23-30b8-4d77-9310-289b85ef8eb0/specialsauce/thing.yaml
testtest.py
Container/
Files
Container/ContainerA/containerstate.yaml
Container/ContainerB/containerstate.yaml
Container/ContainerC/containerstate.yaml
commitError.txt
SagaAPI/basic_app_test.sqlite
ContainerAero
basic_app_test.sqlite
registerError.txt
/SagaAPI/filerecords.sqlite
Container*
File*
token.txt
static/executable/Saga.exe
dist*
build*
PythonAnywherePackage*
privateServerPackage*
local_configuration.ini
localConfig.txt
SagaServerDeploy.py
sagaMainApi.spec
SagaServerDeploy.py
Files/special2.txt
Files/special1.txt
Files/R1.txt
Files/MUD.txt
Files/MAN.txt
Files/M2.txt
Files/M1.txt
Files/LongVideo.mp4
Files/goma2.jpg
Files/goma1.jpg
Files/f13b3ab5-f8fc-412c-b55f-afe3c298bbdf
Files/ec296c62-5174-460d-8a9c-7e7664a73223
Files/DSomething.txt
Files/Doggy.txt
Files/de6461df-b8e5-439f-a9b1-64f1235a257a
Files/d61abe76-8d5c-48dd-99e9-4b09eea9d4ab
Files/CustomerRequirements.docx
Files/b8f1e275-4827-478f-8467-eab8e2b7973e
Files/b2de0a35-871c-46d4-9f99-f281afdcf56b
Files/B1.txt
Files/AModel1.txt
Files/af0ce3f5-6849-4448-b28c-afd34effcb81
Files/aba92482-157e-4cf9-bcf9-704a2f757874
Files/a2625883-70a4-4eba-be67-891eb0fafa48
Files/a21a204f-63d6-40ce-a2dc-5e7e2d239846
Files/94545555-417c-4343-ad0f-9679848973ff
Files/90a7a00e-efa5-4300-92f0-714287ff4225
Files/8dff8efe-3e65-4209-8737-97f55c602dd2
Files/668c03a6-732a-4d82-a35d-eb957dd228f1
Files/662c68fd-519d-4215-8326-871e7a09ebf6
Files/520eb4e7-e73e-4f4f-8d11-1fe5f61a43fd
Files/458e6caa-1e97-4386-ad0d-f9cbfc7352aa
Files/345d51f1-88c2-4854-81b6-29de2982059f
Files/0132f05d-cbbc-476e-8af8-f95ad7953d31
SagaServerDeploy.spec
SagaServerDeploy.ifp
getfiles.py
prepareinstaller.py
config.ini
