*.pyc
__pycache__
/venv/
/bigFiles/
/backup/
/.idea/
plainold.mp4
try.mp4
flastest.py
Container/specialsauce2/
Container/fc925b23-30b8-4d77-9310-289b85ef8eb0/specialsauce/cstate.yaml
Container/fc925b23-30b8-4d77-9310-289b85ef8eb0/specialsauce/thing.yaml
testtest.py
Container/
Files
Container/ContainerA/containerstate.yaml
Container/ContainerB/containerstate.yaml
Container/ContainerC/containerstate.yaml
commitError.txt
SagaApp/basic_app_test.sqlite
ContainerAero
basic_app_test.sqlite
