{% extends 'Core.html' %}

{% block header %}
  <h1>{% block title %}Welcome to Saga Version Control{% endblock %}</h1>
{% endblock %}


{% block content %}
    <h3>User Details</h3>

    {% if g.user %}

        <a href="static/executable/Saga.exe">Download Saga</a>
      <h3>Welcome back {{g.user.first_name}}</h3>
      <h4>You profile belows to Section : {{g.user.section_name}}</h4>

<h4>These are the containers you have permissions to</h4>
        {% for containerid in containerinfolist%}
             <h4>{{ containerid }}</h4>
         {% endfor %}

    {% endif %}
{% endblock %}