{% extends 'Core.html' %}

{% block header %}
  <h1>{% block title %}Welcome to Saga Version Control{% endblock %}</h1>
{% endblock %}


{% block content %}
    <h3>Saga offers better way of doing version control for Multi-disciplinary work flows</h3>
    <ol>

      <p>Saga is the newest way of doing workflow, file management and version control.
          Please refer to the tutorials to how the program works.</p>
      <p>Our goal is to combine smarter version control and project management tools to work groups.</p>
        <a style="font-size:24px" href="static/executable/Saga.exe">Download Saga Desktop</a>
        <p>You will be asked to sign up after the program is installed and running.</p>
    </ol>





{% endblock %}