{% extends 'Core.html' %}

{% block header %}
  <h1>{% block title %}Welcome to Saga Version Control{% endblock %}</h1>
{% endblock %}


{% block content %}
    <h3> Think beyond Git</h3>
    <ol>
        <p>Saga is the newest way of doing workflow, file management and version control
        Saga is invented by Mechnical Engineers who wants add intelligence to our filing system.
        </p>
        <p>Saga keeps adds the ability of tracking inputs and outputs to repository so that workers
        can have seperated workspace but highly integrated at the same time</p>
      <p> Saga provides greater Flexilibity to manage folder structure. </p>
    </ol>



    <h4> Front End Saga Gui</h4>
    <a href="static/executable/Saga.exe">Download Saga Installer for Front End</a>
    <h4>Private Saga Server</h4>
    <a href="static/executable/SagaServerDeploy.exe">Download Saga Server to be run on local computer</a>


    <p>We don't want to be one of those people that asks for your data, but
    Saga will need a user profile to function properly!</p>
<p>Please <a href="{{ url_for('auth_web.register') }}">Register</a> or <a href="{{ url_for('auth_web.login') }}">Login</a></p>

{% endblock %}